form.form-horizontal
  span Username:
  input#username
  select#join
    option(value="") Join Room
    option(value="front") front
    option(value="front-deploy") front deploy
  
ul.nav.nav-tabs#room-tabs
.tab-content#rooms
script(type='text/javascript')
  var host = 'http://localhost';
  var port = 3000;
  var APP = new App(host, port);
