h1= title
p Welcome to #{title}
#msgPane
#msgPost
  input(type='text')
  button send
script(type='text/javascript')
  var host = 'http://localhost';
  var port = 3000;
  var app = new App(host, port);
