h1 PFunk
select#join
  option(value="") Join Room
  option(value="front") front
  
#rooms

script(type='text/javascript')
  var host = 'http://localhost';
  var port = 3000;
  var app = new App(host, port);
